<div class="p-3 mb-2 bg-secondary text-white"  style="text-align:center">
    <p>Customer_ID No: {{ routeParameter }}</p>

    <div *ngFor="let elt of model">
        <label>Model_Name</label>: {{ elt.model }} <br />
        <label>Model_Year</label>: {{ elt.year }} <br />
        <label>Model_Cost</label>: {{ elt.cost }} <br />
        <label>Description</label>: {{ elt.description }} <br />

        <button class="btn btn-info" (click)="onBack()">
            Back
        </button>
    </div>

</div>
