<div class="p-3 mb-2 bg-secondary text-white" style="text-align:center">
    <p>Customer ID : {{ routeParameter }}</p>

    <div *ngFor="let elt of model">
        <label>Model Name</label>: {{ elt.modelName }}
        <br />
        <label>Model Year</label>: {{ elt.year }}
        <br />
        <label>Model Cost</label>: {{ elt.cost }}
        <br />
        <label>Description</label>: {{ elt.description }}
        <br />
        <button class="btn btn-info" (click)="onBack()">
            Back
        </button>
    </div>
</div>