/*
.new-btn {
    margin-right: 50px;
    margin-top: -50px;
}

.list-container {
    width: 200%;
    .row {
        border-bottom: 2px;
        border-color: gray;
    }
    .action-btn {
        margin-left: 10px;
    }
}
*/