<div class="d-flex justify-content-around py-1">
    <nav class="navbar">
        <input class="form-control mr-sm" type="text" placeholder="Enter model name" [(ngModel)]="modelData"
            (ngModelChange)="onSearch()" name="modelName" />
    </nav>
    <button class="btn btn-info" style="width: 15rem" (click)="onAdd()">Add customer info</button>
</div>
<br />
<br />
<div>
    <table>
        <thead>
            <th (click)="onSort('id')">S. No.</th>
            <th (click)="onSort('modelData')">Model Name</th>
            <th (click)="onSort('modelYear')">Model Year</th>
            <th (click)="onSort('modelCost')">Model cost</th>
            <th (click)="onSort('desc')">Description</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr
                *ngFor="let elt of modelRecord | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: page}">
                <td>{{elt.modelId}}</td>
                <td>{{elt.modelName}}</td>
                <td>{{elt.year}}</td>
                <td>{{elt.cost}}</td>
                <td>{{elt.description}}</td>
                <td>
                    <div>
                        <button class="btn btn-info" (click)="onView(elt.modelId)">View</button>
                        <button class="btn btn-info" (click)="onBack()">
                            Back
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </table>
</div>