<h1>vehicle-list</h1>
<input class="name col-md-4 my-3" type="text" placeholder="Enter model name" [(ngModel)]="modelName"
    (ngModelChange)="search()" name="modelName" />
<br />
<br />
<table>
    <thead>
        <th (click)="sort('id')">S. No.</th>
        <th (click)="sort('modelName')">Model_Name</th>
        <th (click)="sort('modelYear')">Model_Year</th>
        <th (click)="sort('modelCost')">Model_cost</th>
        <th (click)="sort('desc')">Description</th>
    </thead>
    <tbody>
        <tr *ngFor="let elt of model_record | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: page}">
            <td>{{elt.model_id}}</td>
            <td>{{elt.model}}</td>
            <td>{{elt.year}}</td>
            <td>{{elt.cost}}</td>
            <td>{{elt.description}}</td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>