<div class="d-flex justify-content-around py-1">
<nav class="navbar">
    <input class="form-control mr-sm-2" type="text" name="customerName" [(ngModel)]="customerName"
        (ngModelChange)="search()" placeholder="Search by name" />
</nav>
<button class="btn btn-info" (click)="allRecord()">Vehicle_Record</button> 
<button class="btn btn-info"
    (click)="onCreate()">Registration Form</button>
</div>
<table style="width: 100%">
    <thead>
        <th (click)="sort('id')">Customer_Id</th>
        <th (click)="sort('customerName')">Customer_Name</th>
        <th (click)="sort('mobileNumber')">Mobile_Number</th>
        <th (click)="sort('vehicleName')">Vehicle_Name</th>
        <th (click)="sort('brandName')">Brand_Name</th>
        <th (click)="sort('modelNname')">Model_Name</th>
        <th (click)="sort('modelYear')">Model_Year</th>
        <th (click)="sort('modelCost')">Model_Cost</th>
        <th (click)="sort('desc')">Description</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr style="width: 100%"
            *ngFor="let vehicle of registrar_info | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: page}">
            <td>{{vehicle.record_id}}</td>
            <td>{{vehicle.registrar_name}}</td>
            <td>{{vehicle.mobile_number}}</td>
            <td>{{vehicle.vehicle_name}}</td>
            <td>{{vehicle.brand_name}}</td>
            <td>{{vehicle.model_name}}</td>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.description}}</td>
            <td>
                <button class="btn btn-info" (click)="onView(vehicle)">View</button>
                <button class="btn btn-info" (click)="onEdit(vehicle)">Edit</button>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>