<div class="d-flex justify-content-around py-1">
    <nav class="navbar">
        <input class="form-control mr-sm-2" type="text" name="customerName" [(ngModel)]="customerName"
            (ngModelChange)="onSearch()" placeholder="Search by name" />
    </nav>
    <button class="btn btn-info" (click)="allRecord()">Vehicle_Record</button>
    <button class="btn btn-info" (click)="onCreate()">Registration Form</button>
</div>
<table style="width: 100%">
    <thead>
        <th (click)="onSort('id')">Customer Id</th>
        <th (click)="onSort('customerName')">Customer Name</th>
        <th (click)="onSort('mobileNumber')">Mobile Number</th>
        <th (click)="onSort('vehicleName')">Vehicle Code</th>
        <th (click)="onSort('brandName')">Brand Code</th>
        <th (click)="onSort('modelNname')">Model Code</th>
        <th (click)="onSort('modelYear')">Model Year</th>
        <th (click)="onSort('modelCost')">Model Cost</th>
        <th (click)="onSort('desc')">Description</th>
        <th>Action</th>
    </thead>
    <tbody>
        <tr style="width: 100%"
            *ngFor="let vehicle of registrarInfo | orderBy: key: reverse | paginate: {itemsPerPage: 5, currentPage: page}">
            <td>{{vehicle.recordId}}</td>
            <td>{{vehicle.registrarName}}</td>
            <td>{{vehicle.mobileNumber}}</td>
            <td>{{vehicle.vehicleName}}</td>
            <td>{{vehicle.brandName}}</td>
            <td>{{vehicle.modelName}}</td>
            <td>{{vehicle.year}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.description}}</td>
            <td>
                <button class="btn btn-info" (click)="onView(vehicle)">View</button>
                <button class="btn btn-info" (click)="onEdit(vehicle)">Edit</button>
            </td>
        </tr>
    </tbody>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
</table>