<h1>Vehicle Record </h1>

Vehicle_Name:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.model_year}}"> {{vehicle.model_year}} </option>
</select>
<br />
<br />
Brand_Name:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.model_year}}"> {{vehicle.model_year}} </option>
</select>
<br />
<br />
Model_Name:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.model_name}}"> {{vehicle.model_name}} </option>
</select>
<br />
<br />
Model_Year:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.model_year}}"> {{vehicle.model_year}} </option>
</select>
<br />
<br />
Model_Cost:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.model_cost}}"> {{vehicle.model_cost}} </option>
</select>
<br />
<br />
Model_Cost:
<select>
    <option *ngFor="let vehicle of model_info" value="{{vehicle.description}}"> {{vehicle.description}} </option>
</select>
