<div class="col-md-15 offset-md-4" class="p-3 mb-2 bg-light text-dark">
    {{vehicle | json}}
<br />
    Registrar_Name:
    <input type="text" [(ngModel)]="vehicle.registrar_name" class="form-control-sm" required id="customer_name"
        #name="ngModel" placeholder="Enter your name" />
    <div *ngIf="name.invalid && name.touched">
        Enter Your Name.
    </div>
    <br />
    <br />
    Mobile_Number:
    <input type="text" [(ngModel)]="vehicle.mobile_number" class="form-control-sm" required id=mob_no #num="ngModel"
        placeholder="Enter your mobile number" />
    <div *ngIf="num.invalid && num.touched">
        Enter Your Mobile Number.
    </div>
    <br />
    <br />
    <div class="form-group">
        Vehicle_Name:
        <select required [(ngModel)]="vehicle.vehicle_name" (change)=onSelect($any($event.target).value); class="required"
            #vname="ngModel">
            <option [ngValue]="null" [disabled]="true">--select vehicle name--</option>
            <option *ngFor="let elt of vehicle_data" required value="{{elt.vehicle_name}}"> {{elt.vehicle_name}}
            </option>
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        Brand_Name:
        <select class="required" [(ngModel)]="vehicle.brand_name" #bname="ngModel">
            <option [ngValue]="null" [disabled]="true">--select brand name--</option>
            <option *ngFor="let vehicle of brand_data" required value="{{vehicle.brand_name}}"> {{vehicle.brand_name}}
            </option>
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        Model_Name:
        <select class="required" [(ngModel)]="vehicle.model_name" #mname="ngModel">
            <option [ngValue]="null" [disabled]="true">--select model name--</option>
            <option *ngFor="let vehicle of model_data" required value="{{vehicle.model}}"> {{vehicle.model}} </option>
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        Model_Year:
        <select class="required" [(ngModel)]="vehicle.year" #yr="ngModel">
            <option [ngValue]="null" [disabled]="true">--select model year--</option>
            <option *ngFor="let vehicle of model_data" required value="{{vehicle.year}}"> {{vehicle.year}} </option>
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        Model_Cost:
        <select class="required" [(ngModel)]="vehicle.cost" #cost="ngModel">
            <option [ngValue]="null" [disabled]="true">--select model cost--</option>
            <option *ngFor="let vehicle of model_data" required value="{{vehicle.cost}}"> {{vehicle.cost}} </option>
        </select>
    </div>
    <br />
    <br />
    <div class="form-group">
        Model_Description:
        <select class="required" [(ngModel)]="vehicle.description" #desc="ngModel">
            <option [ngValue]="null" [disabled]="true">--select model desc--</option>
            <option *ngFor="let vehicle of model_data" required value="{{vehicle.description}}"> {{vehicle.description}}
            </option>
        </select>
    </div>
    <br />
    <br />
    <button class="btn btn-info" (click)="onCancel()">Cancel</button>
    <button class="btn btn-info" (click)="save()">{{routeParameter > 0? 'Update' : 'Create' }}</button>
</div>